/Milestone2_Single_Cycle/quartus/
Milestone2_Single Cycle/quartus/.qsys_edit/filters.xml
Milestone2_Single Cycle/quartus/.qsys_edit/preferences.xml
Milestone2_Single Cycle/quartus/cr_ie_info.json
Milestone2_Single Cycle/quartus/db/prev_cmp_single_cycle.qmsg
Milestone2_Single Cycle/quartus/db/single_cycle.db_info
Milestone2_Single Cycle/quartus/db/single_cycle_partition_pins.json
Milestone2_Single Cycle/quartus/greybox_tmp/cbx_args.txt
Milestone2_Single Cycle/quartus/incremental_db/compiled_partitions/single_cycle.db_info
Milestone2_Single Cycle/quartus/incremental_db/README
Milestone2_Single Cycle/quartus/output_files/single_cycle.done
Milestone2_Single Cycle/quartus/.pplq.rdb
Milestone2_Single Cycle/quartus/.qsys_edit/filters.xml
Milestone2_Single Cycle/quartus/.qsys_edit/preferences.xml
Milestone2_Single Cycle/quartus/cr_ie_info.json
Milestone2_Single Cycle/quartus/db/prev_cmp_single_cycle.qmsg
Milestone2_Single Cycle/quartus/db/single_cycle.db_info
Milestone2_Single Cycle/quartus/db/single_cycle_partition_pins.json
Milestone2_Single Cycle/quartus/greybox_tmp/cbx_args.txt
Milestone2_Single Cycle/quartus/incremental_db/compiled_partitions/single_cycle.db_info
Milestone2_Single Cycle/quartus/incremental_db/README
Milestone2_Single Cycle/quartus/output_files/single_cycle.done
Milestone2_Single Cycle/quartus/output_files/single_cycle.flow.rpt
Milestone2_Single Cycle/quartus/output_files/single_cycle.map.rpt
Milestone2_Single Cycle/quartus/output_files/single_cycle.map.smsg
Milestone2_Single Cycle/quartus/output_files/single_cycle.map.summary
Milestone2_Single Cycle/quartus/sim/single_cycle.cr.mti
Milestone2_Single Cycle/quartus/sim/single_cycle.mpf
Milestone2_Single Cycle/quartus/sim/transcript
Milestone2_Single Cycle/quartus/sim/vsim.wlf
Milestone2_Single Cycle/quartus/sim/work/_info
Milestone2_Single Cycle/quartus/sim/work/_lib.qdb
Milestone2_Single Cycle/quartus/sim/work/_vmake
Milestone2_Single Cycle/quartus/single_cycle.qpf
Milestone2_Single Cycle/quartus/single_cycle.qsf
Milestone2_Single Cycle/quartus/single_cycle.qsf.bak
